In [4]:
import snscrape.modules.twitter as sntwitter
import pandas as pd
import itertools

In [6]:
data = pd.DataFrame(itertools.islice(sntwitter.TwitterSearchScraper(
    '"data science"').get_items(), 5))

In [7]:
data

,url,date,rawContent,renderedContent,id,user,replyCount,retweetCount,likeCount,quoteCount,...,retweetedTweet,quotedTweet,inReplyToTweetId,inReplyToUser,mentionedUsers,coordinates,place,hashtags,cashtags,card
0,https://twitter.com/iSlumped/status/1587708677...,2022-11-02 07:30:21+00:00,Data Science Course &amp; Certificate Internsh...,Data Science Course &amp; Certificate Internsh...,1587708677913559040,"{'username': 'iSlumped', 'id': 2308132710, 'di...",0,0,0,0,...,None,None,None,None,None,None,None,None,None,None
1,https://twitter.com/ambeonetraining/status/158...,2022-11-02 07:30:00+00:00,"""Opportunities don't happen, you create them!""...","""Opportunities don't happen, you create them!""...",1587708589996900352,"{'username': 'ambeonetraining', 'id': 75274247...",0,0,0,0,...,None,None,None,None,None,None,None,"[datascience, bigdata]",None,None
2,https://twitter.com/web4x4_es/status/158770812...,2022-11-02 07:28:09+00:00,"Attend the Data Science Symposium 2022, Novemb...","Attend the Data Science Symposium 2022, Novemb...",1587708122440908800,"{'username': 'web4x4_es', 'id': 14302004802575...",0,0,0,0,...,None,None,None,None,None,None,None,"[machinelearning, ml, ai]",None,{'title': 'Attend the Data Science Symposium 2...
3,https://twitter.com/journal_data/status/158770...,2022-11-02 07:27:32+00:00,#ライブドアブログ 書きました！\n\n『【ディズニー】動画のデータが消えたのでリトルグリ...,#ライブドアブログ 書きました！\n\n『【ディズニー】動画のデータが消えたのでリトルグリ...,1587707967234678784,"{'username': 'journal_data', 'id': 95619097034...",0,0,0,0,...,None,None,None,None,None,None,None,[ライブドアブログ],None,None
4,https://twitter.com/mldemy_in/status/158770700...,2022-11-02 07:23:42+00:00,Are you an undergrad student / engineering fre...,Are you an undergrad student / engineering fre...,1587707003077394432,"{'username': 'mldemy_in', 'id': 15862597390206...",0,0,0,0,...,None,None,None,None,None,None,None,None,None,None

In [8]:
user = data['user']

In [25]:
user

0    {'username': 'iSlumped', 'id': 2308132710, 'di...
1    {'username': 'ambeonetraining', 'id': 75274247...
2    {'username': 'web4x4_es', 'id': 14302004802575...
3    {'username': 'journal_data', 'id': 95619097034...
4    {'username': 'mldemy_in', 'id': 15862597390206...
Name: user, dtype: object

In [26]:
user[0]

{'username': 'iSlumped',
 'id': 2308132710,
 'displayname': 'iSlumped',
 'rawDescription': 'iSlumped is Medium for Business and its Consumers.\nUsers share insightful stories about their experiences and reviews of products or services they love or hate.',
 'renderedDescription': 'iSlumped is Medium for Business and its Consumers.\nUsers share insightful stories about their experiences and reviews of products or services they love or hate.',
 'descriptionLinks': None,
 'verified': False,
 'created': datetime.datetime(2014, 1, 24, 10, 26, 5, tzinfo=datetime.timezone.utc),
 'followersCount': 3428,
 'friendsCount': 587,
 'statusesCount': 8286,
 'favouritesCount': 1969,
 'listedCount': 11,
 'mediaCount': 437,
 'location': '',
 'protected': False,
 'link': {'text': 'islumped.com',
  'url': 'http://www.islumped.com',
  'tcourl': 'http://t.co/nIZO3JLSG1',
  'indices': (0, 22)},
 'profileImageUrl': 'https://pbs.twimg.com/profile_images/1366732797361065988/AFOgOxWd_normal.jpg',
 'profileBannerUrl': 'https://pbs.twimg.com/profile_banners/2308132710/1614689468',
 'label': None}

In [15]:
for name in user:
    # print(name['username'])
    print(name['location'])

Dubai, United Arab Emirates
Madrid

Kolkata

## Scrape

Vaksinasi di indonesia dimulai dari 13 januari 2021 sehingga kami mengambil data dimulai dari waktu teresebut hingga 13 oktober 2022

Data diambil dalam rentan waktu 16

format date : yyyyMMddhhmm

Range waktu pengambilan data : 2021-01-13 - 2022-10-13

Kami membagi 8 rentan waktu tiap dua bulan yaitu : 

1. 2021-01-13  - 2021-03-12
2. 2021-03-13  - 2021-05-12
3. 2021-05-13  - 2021-07-12
4. 2021-01-13  - 2021-03-12
5. 2021-01-13  - 2021-03-12
6. 2021-01-13  - 2021-03-12
7. 2021-01-13  - 2021-03-12
8. 2021-01-13  - 2021-03-13

Tiap rentan waktu kami mengambil 500 data

In [27]:
tweets_list2 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('COVID Vaksinasi since:2021-01-13 until:2021-02-12 lang:id').get_items()):
    if i>500:
        break
    # user = api.get_user(user_id=tweet.id,screen_name = tweet.username)
    # location = user.location

    tweets_list2.append([tweet.date, tweet.content, tweet.user.username, tweet.user.location])
    
# Creating a dataframe from the tweets list above
tweets_df2 = pd.DataFrame(tweets_list2, columns=['Datetime', 'Text', 'Username','location'])

C:\Users\Muh_A\AppData\Local\Temp\ipykernel_18240\214226025.py:10: FutureWarning: content is deprecated, use rawContent instead
  tweets_list2.append([tweet.date, tweet.content, tweet.user.username, tweet.user.location])

In [28]:
tweets_df2

,Datetime,Text,Username,location
0,2021-02-11 23:48:45+00:00,Sekda Aceh Berbagi Kiat Sukses Vaksinasi Covid...,Farder11,
1,2021-02-11 23:47:54+00:00,Moeldoko: Vaksinasi Covid-19 untuk Umum Sekita...,zulitaufik,Jakarta
2,2021-02-11 23:39:33+00:00,Vaksinasi untuk masyarakat umum ini akan mempr...,kompascom,Jakarta
3,2021-02-11 23:30:02+00:00,Moeldoko: Vaksinasi Covid-19 untuk Umum Sekita...,aldotjahjadi8,ihsgjournal@gmail.com
4,2021-02-11 23:23:31+00:00,Moeldoko: Vaksinasi Covid-19 untuk Umum Sekita...,cosmofemalefm,"Kota Manado, Sulawesi Utara"
...,...,...,...,...
496,2021-02-11 02:40:27+00:00,"Setiap Hari Bertambah 175 Orang Positif, Satga...",karosatuklik,"Jl. Pahlawan No. 23 Kabanjahe,"
497,2021-02-11 02:34:07+00:00,Hai#sahabatpemilih.Untuk menyiapkan data pemil...,kpu_malut,"Ternate, Maluku Utara"
498,2021-02-11 02:30:36+00:00,"@Banua_Muda @detikcom Lah, ahli Epidemiolog, V...",AndyHuskyyy,
499,2021-02-11 02:24:04+00:00,.\nDATA PEMILIH UNTUK MENDUKUNG PROGRAM NASION...,kpu_ciamis,"Ciamis, Indonesia"
500,2021-02-11 02:19:45+00:00,Vaksinasi Covid-19 tahap kedua di Kabupaten Ba...,beritajatimcom,Surabaya

In [29]:
csv_data = tweets_df2.to_csv('data_1_500.csv', index=False)